.DS_Store

# auto generated icons
src/components/*.tsx
src/manifest.ts
src/icons.ts

# build
esm/

# node_modules
**/node_modules

# legacy
/gallery
/src/icons

# yarn
yarn-error.log

# eslint
.eslintcache
