@font-face {
	font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot'), /* for IE 9*/
  url('<%= fontPath %><%= fontName %>.eot?#iefix') format("embedded-opentype"), /* under IE9 */
  url('<%= fontPath %><%= fontName %>.woff') format("woff"),  /* chrome, firefox */
  url('<%= fontPath %><%= fontName %>.ttf') format("truetype"),  /* opera, Safari, Android, iOS 4.2+ */
  url('<%= fontPath %><%= fontName %>.svg') format("svg");  /* iOS 4.1- */
  font-weight: normal;
  font-style: normal;
}

.t-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "<%= fontName %>" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<% _.each(glyphs, function(glyph) { %>
.t-icon-<%= glyph.fileName %>:before {
    content: "\<%= glyph.codePoint %>";
}
<% }); %>